@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables.sass";

$body-size: 12pt;

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
//$purple: #8A4D76;
//$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
//$family-sans-serif: "Segoe UI", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 1px;
//$input-background-color: $beige-lighter;
//$input-border-color: transparent;
$input-shadow: none;

$gap: 16px;

//#top-bar {
//    padding-left: $gap;
//    padding-right: $gap;
//    margin-top: 45px;
//}
//
//#tab-bar {
//    position: fixed !important;
//    z-index: 1000;
//    background-color: white;
//    top: 0;
//    left: 0;
//    right: 0;
//}

// Import the rest of Bulma
@import "~bulma";

* {
    /*cursor: default;*/
    user-select: none;
}

p, div {
    cursor: default;
}

input, textarea {
    user-select: text;
}

body {
    /* Prevent overscroll */
    /* overflow: hidden; */
    //height: 100vh;
    //background-size: cover;
    //overscroll-behavior-y: none;
    //-ms-overflow-style: none;
    //overflow: auto;
}
